{% load static %}
<html>
<head>
<title>Blood Group Prediction</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1 align="center"><span>A Novel Approach to Predict Blood Group using Fingerprint Map Reading</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         
           <ul>
      <li><a href="{% url 'index' %}"><font size="3" color="black">Home</a></li>
       <li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</a></li>
 	</ul>
         
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="286" alt="" /></div>

		       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">A Novel Approach to Predict Blood Group using Fingerprint Map Reading
</p>
 
 <font size="3" color="black"><center>{{ data|safe }}</center></font><br/>
		<img src="data:image/png;base64, {{ img }}" alt="" />
  </body>
</html>
